In [3]:
import pandas as pd

df = pd.read_csv('datasets\merged_df.csv')

df

                                                   text    emotion
0                                 baad el fetar hagelko    neutral
1                          hahahahahha helw elkalam dah  happiness
2                 kan 3ayz yroh yl3ab fe pyramids bayen    neutral
3                       dah elly ana asdi aleih harfyan    neutral
4     yaany ana aklmk bel arabi trohi enti katba eng...      angry
...                                                 ...        ...
2110                           eh el araf da ana mt3sab        NaN
2111                            tab law omt w gbthalk..    neutral
2112                          ana msh msda2 ana masdoom   surprise
2113                         eh el mofg2at el 8areba de   surprise
2114                                          mashy :')    neutral

[2115 rows x 2 columns]

In [4]:
nan_values = df.isna().sum()

print(nan_values)

text         0
emotion    115
dtype: int64

In [5]:
# Assuming your dataset is a DataFrame named df
nan_rows = df[df.isna().any(axis=1)]

print(nan_rows)

                                                   text emotion
1268                                   y3ny atfal2 wnta     NaN
1269                   kan yom eswed yom ma 3reftk wlhi     NaN
1282                            a ya 5ara mana brod ahu     NaN
1294  haga enak teza3a2 kol ely meday2ak men shakhs ...     NaN
1305                                        mashy bahsb     NaN
...                                                 ...     ...
2056                           ana msh tay2 ashofo laaa     NaN
2059                      e7trem nafsak badal ma at3sab     NaN
2095                                             mt3sab     NaN
2103                                 eh el araf da w7sh     NaN
2110                           eh el araf da ana mt3sab     NaN

[115 rows x 2 columns]

In [6]:
# Assuming your dataset is a DataFrame named df
df['emotion'].fillna('angry', inplace=True)

# Print the updated DataFrame
print(df)

                                                   text    emotion
0                                 baad el fetar hagelko    neutral
1                          hahahahahha helw elkalam dah  happiness
2                 kan 3ayz yroh yl3ab fe pyramids bayen    neutral
3                       dah elly ana asdi aleih harfyan    neutral
4     yaany ana aklmk bel arabi trohi enti katba eng...      angry
...                                                 ...        ...
2110                           eh el araf da ana mt3sab      angry
2111                            tab law omt w gbthalk..    neutral
2112                          ana msh msda2 ana masdoom   surprise
2113                         eh el mofg2at el 8areba de   surprise
2114                                          mashy :')    neutral

[2115 rows x 2 columns]