In [18]:
import pandas as pd

test_df = pd.read_csv('B) Franco approch/test_csv.csv')

test_df

                                            text    emotion
0                          baad el fetar hagelko    neutral
1          kan 3ayz yroh yl3ab fe pyramids bayen    neutral
2                dah elly ana asdi aleih harfyan    neutral
3     hwa kan 3ayz yehteref barra ala tol wla eh    neutral
4                                  da lesa badre    neutral
...                                          ...        ...
1141                  bashofha bambeset 3alatoul  happiness
1142       yarab ayami kolaha tefdal sa3ida keda  happiness
1143                    baheb awi el perfume dih  happiness
1144        mabda2eyan bas youmi ahsan mn youmko  happiness
1145         sahya 3ala khabar khotoobet hadzyaa  happiness

[1146 rows x 2 columns]

- to fit arabic file

In [19]:
test_df['emotion'] = test_df['emotion'].replace({'neutral': 'none', 'angry': 'anger', 'happiness': 'joy'})

In [20]:
test_df['emotion'].unique()

array(['none', 'anger', 'sadness', 'surprise', 'joy'], dtype=object)

In [21]:
test_df.to_csv('Arabic_test.csv', index=False)

==================================================================================

In [22]:
import pandas as pd

HussFranco = pd.read_csv('HussFranco.csv')

HussFranco['emotion'].unique()

array(['anger', 'none', 'happiness', 'sadness', 'surprise', 'fear'],
      dtype=object)

In [23]:
HussFranco['emotion'] = test_df['emotion'].replace({'happiness': 'joy'})

In [24]:
HussFranco.to_csv('HussFranco_test.csv', index=False)

In [25]:
HussFranco

                                 text   emotion
0                    y3ny atfal2 wnta     anger
1                      eh el hatal da     anger
2    kan yom eswed yom ma 3reftk wlhi     anger
3       el 3en el t7t el ahwa bt3t cr      none
4         fe mel mafaresh de regaly ?      none
..                                ...       ...
951          eh el araf da ana mt3sab     anger
952           tab law omt w gbthalk..      none
953         ana msh msda2 ana masdoom  surprise
954        eh el mofg2at el 8areba de  surprise
955                         mashy :')      none

[956 rows x 2 columns]